body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

#cover {
  height: 900px;
  position: relative;
  top: -55px;
  width: 100%;
  background:
    url("http://images.cqwin.com/upfile/newsfile/car/2014/03/8908e3b5-5911-46e8-a999-493968770f02.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: scroll;
  /*background-image: -webkit-linear-gradient(#FFD194, #BC1324);*/
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 50px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

h1 {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 20px;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
}

h3 {
  color: #14213D;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-align: center;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #14213D;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 5px 20px;
}

.products {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.product {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.product img {
  width: 100%;
}

.blue {
  color: #14213D !important;
}